@import './variables';
@import './fonts';

@mixin heading {
    color: $blue;
    font-family: Montserrat-SemiBold;
    // font-family: $monsterrat;
    // font-weight: $semi-bold;
}

@mixin monsterrat-regular {
    // font-family: $monsterrat;
    // font-weight: $regular;
    font-family: Montserrat-Regular;
}