
// Color system

$blue: #5E56e7;
$ghost-white: #F8F7FF;
$light-grey: #F0F0F6;
$grey: #A0A0A0;
$black: #333333;

// ==============================================================

// Typography

$monsterrat: "Montserrat";
$semi-bold: "Semi Bold";
$regular: "Regular";
